<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Mark</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mb-4">Add Mark</h2>
      <form method="post" th:object="${mark}">
        <div class="form-group">
          <label for="student">Student</label>
          <select class="form-control" id="student" name="student" th:field="*{student}">
            <option value="">Select Student</option>
            <th:block th:each="student : ${students}">
              <option th:value="${student.id}" th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
            </th:block>
          </select>
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <select class="form-control" id="subject" name="subject" th:field="*{subject}">
            <option value="">Select Subject</option>
            <th:block th:each="subject : ${subjects}">
              <option th:value="${subject.id}" th:text="${subject.name}"></option>
            </th:block>
          </select>
        </div>
        <div class="form-group">
          <label for="value">Mark</label>
          <input type="number" class="form-control" id="value" name="value" th:field="*{value}" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
