<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light"
     xmlns:sec="http://www.w3.org/1999/xhtml">
  <a class="navbar-brand" href="#">IT Technologies for Schools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}" sec:authorize="isAuthenticated()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/materials/" sec:authorize="hasAnyRole('USER', 'TEACHER', 'ADMIN')">Materials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/marks/" sec:authorize="hasAnyRole('TEACHER', 'STUDENT', 'PARENT', 'ADMIN')">Marks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports/" sec:authorize="hasAnyRole('ADMIN', 'PARENT')">Reporting Tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subjects/" sec:authorize="hasRole('ROLE_ADMIN')">Subjects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teachers/" sec:authorize="hasRole('ROLE_ADMIN')">Teachers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students/" sec:authorize="hasRole('ROLE_ADMIN')">Students</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>