<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Teachers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>

<div th:insert="~{navbar :: navbar}"></div>
<div class="container mt-5">
  <h1 class="mb-3">Teachers</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
      <td th:text="${teacher.firstName}"></td>
      <td th:text="${teacher.lastName}"></td>
      <td th:text="${teacher.email}"></td>
      <td>
        <a class="btn btn-danger btn-sm" th:href="@{/teachers/delete/{id}(id=${teacher.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary" href="/teachers/add" role="button">Add Teacher</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
